In [2]:
# Comparison operators
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("a == b:", a == b)
print("a != b:", a != b)
print("a > b:", a > b)
print("a < b:", a < b)
print("a >= b:", a >= b)
print("a <= b:", a <= b)

Enter first number: 1
Enter second number: 2
a == b: False
a != b: True
a > b: False
a < b: True
a >= b: False
a <= b: True

In [ ]:
# Logical & Bitwise operators
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("a & b =", a & b)   # Bitwise AND
print("a | b =", a | b)   # Bitwise OR
print("a ^ b =", a ^ b)   # Bitwise XOR
print("a >> 1 =", a >> 1) # Right shift
print("a << 1 =", a << 1) # Left shift

In [ ]:
# Swap two numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Before swap: a =", a, ", b =", b)
a, b = b, a
print("After swap: a =", a, ", b =", b)

In [ ]:
# String operations
str1 = "Hello"
str2 = "World"

print("Concatenation:", str1 + " " + str2)
print("String Multiplication:", str1 * 3)

In [ ]:
# Convert days to seconds
days = int(input("Enter number of days: "))
seconds = days * 24 * 60 * 60
print(days, "days =", seconds, "seconds")

In [ ]:
# Gross salary calculation
basic = float(input("Enter Basic Salary: "))
da = 0.6 * basic
hra = 0.2 * basic
ta = 0.05 * basic
gross = basic + da + hra + ta

print("Gross Salary =", gross)

In [ ]:
# Simple and Compound Interest
p = float(input("Enter Principal: "))
r = float(input("Enter Rate of Interest: "))
t = float(input("Enter Time in years: "))

# Simple Interest
si = (p * r * t) / 100

# Compound Interest
n = int(input("Enter number of times interest is compounded per year: "))
ci = p * (1 + (r / (100 * n))) ** (n * t) - p

print("Simple Interest =", si)
print("Compound Interest =", ci)

In [ ]:
# Solve quadratic equation ax^2 + bx + c = 0
import math

a = float(input("Enter a: "))
b = float(input("Enter b: "))
c = float(input("Enter c: "))

d = b**2 - 4*a*c  # discriminant

if d > 0:
    root1 = (-b + math.sqrt(d)) / (2*a)
    root2 = (-b - math.sqrt(d)) / (2*a)
    print("Two Real Roots:", root1, "and", root2)
elif d == 0:
    root = -b / (2*a)
    print("One Real Root:", root)
else:
    print("No Real Roots, complex roots exist.")

In [3]:
# Print message using format()
print('Capital cities: India {}, US {}, UK {}, China {}'.format('New Delhi', 'Washington', 'London', 'Beijing'))

Capital cities: India New Delhi, US Washington, UK London, China Beijing

Lab-2

In [ ]:
# Even or Odd
num = int(input("Enter a number: "))

if num % 2 == 0:
    print(num, "is Even")
else:
    print(num, "is Odd")

In [ ]:
# ASCII character check
ch = input("Enter a single character: ")

if 'A' <= ch <= 'Z':
    print("Uppercase Letter")
elif 'a' <= ch <= 'z':
    print("Lowercase Letter")
elif '0' <= ch <= '9':
    print("Digit")
else:
    print("Special Character")

In [ ]:
# Largest of three numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a >= b and a >= c:
    print(a, "is the largest")
elif b >= a and b >= c:
    print(b, "is the largest")
else:
    print(c, "is the largest")

In [ ]:
# Leap year check
year = int(input("Enter a year: "))

if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print(year, "is a Leap Year")
else:
    print(year, "is Not a Leap Year")

In [ ]:
# Reverse and Palindrome
num = int(input("Enter a number: "))
temp = num
rev = 0

while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10

print("Reversed Number:", rev)

if temp == rev:
    print("It is a Palindrome")
else:
    print("Not a Palindrome")

In [ ]:
# GCD using while loop
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

while b != 0:
    a, b = b, a % b

print("GCD is", a)

In [ ]:
# While with else
i = 1
while i <= 5:
    print(i)
    i += 1
else:
    print("Loop completed successfully!")

In [4]:
# Reverse sequence using for loop
n = int(input("Enter a number: "))
for i in range(n, 0, -1):
    print(i, end=' ')

Enter a number: 432
432 431 430 429 428 427 426 425 424 423 422 421 420 419 418 417 416 415 414 413 412 411 410 409 408 407 406 405 404 403 402 401 400 399 398 397 396 395 394 393 392 391 390 389 388 387 386 385 384 383 382 381 380 379 378 377 376 375 374 373 372 371 370 369 368 367 366 365 364 363 362 361 360 359 358 357 356 355 354 353 352 351 350 349 348 347 346 345 344 343 342 341 340 339 338 337 336 335 334 333 332 331 330 329 328 327 326 325 324 323 322 321 320 319 318 317 316 315 314 313 312 311 310 309 308 307 306 305 304 303 302 301 300 299 298 297 296 295 294 293 292 291 290 289 288 287 286 285 284 283 282 281 280 279 278 277 276 275 274 273 272 271 270 269 268 267 266 265 264 263 262 261 260 259 258 257 256 255 254 253 252 251 250 249 248 247 246 245 244 243 242 241 240 239 238 237 236 235 234 233 232 231 230 229 228 227 226 225 224 223 222 221 220 219 218 217 216 215 214 213 212 211 210 209 208 207 206 205 204 203 202 201 200 199 198 197 196 195 194 193 192 191 190 189 188 187 186 185 184 183 182 181 180 179 178 177 176 175 174 173 172 171 170 169 168 167 166 165 164 163 162 161 160 159 158 157 156 155 154 153 152 151 150 149 148 147 146 145 144 143 142 141 140 139 138 137 136 135 134 133 132 131 130 129 128 127 126 125 124 123 122 121 120 119 118 117 116 115 114 113 112 111 110 109 108 107 106 105 104 103 102 101 100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [6]:
# Pyramid pattern
rows = int(input("Enter number of rows: "))

for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

Enter number of rows: 5
    *
   ***
  *****
 *******
*********

In [5]:
# Fibonacci series
n = int(input("Enter number of terms: "))
a, b = 0, 1

print("Fibonacci Series:", end=' ')
for _ in range(n):
    print(a, end=' ')
    a, b = b, a + b

Enter number of terms: 5
Fibonacci Series: 0 1 1 2 3